body{
    background-color: black;
    display: flow-root;
    border-top: 2px yellow solid;
    border-left: 2px red solid ;
    border-right: 2px red solid;
    border-bottom: 2px yellow solid;
}
#img1{
    margin-top: 10px;
    margin-left: 10px;
    float:left;
    margin-right: 10px;
    border: 10px solid yellow;
    border-radius: 20px;
}
#img2{
    float: right;
    margin-left: 20px;
    border: 10px solid red;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.para{
    color: white;
    text-shadow: 2px 2px 10px red, -2px -2px 10px yellow;
    font-style: italic;
    margin-left: 10px;
}
#div{
    margin-top: 100px;
    border:5px solid yellow;
    font-size: larger;
    color: white;
    height: 100px;
    overflow: scroll;
    margin-left: 10px;
    margin-right: 10px;
}
.div-text{
    margin-left: 10px;
    margin-right: 10px;
}
#div1{
    background-color: red;
    width:100px;
    height: 100px;
    display: inline;
}
span{
    background-color: blue;
    width: 100px;
    height:100px;
    display:inline-block;
}
*{
    box-sizing: border-box;
}
.container{
    background-color:slateblue;
}
.box{
    border: 2px solid white;
    padding: 25px;
    height: auto;
    width: 50%;
    float:left;
}
.box h2,p{
    color: white;
}
