body{
    margin: 50px;
}
h1{
    text-shadow: 2px 2px 5px red,  -2px -2px 5px rgb(41, 27, 149);
}
#box1{
    width:100px;
    height:100px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 5px;
}
#p1{
    font-size: larger;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width:250px;
    height: 250px;
}
#box2{
    text-align: center;
    background-color: cyan;
    margin:auto;
}
#box3{
    text-align: center;
    background-color: lightgreen;
    margin:auto;
}
